<div class="job-list">
    @if (jobs.length) {
    <div class="job-item" *ngFor="let job of jobs"
        [ngClass]="{'highlighted': job.highlighted}">
        <div class="job-info">
            <h2>{{ job.title }}</h2>
            <p>{{ job.company }}</p>
        </div>
            <div class="job-location">
                <img src="{{ job.icon }}" alt="Location Icon">
                <span>{{ job.location }}</span>
            </div>
        <div class="job-action">
            <img src="{{ job.salaryIcon }}" alt="Salary Icon" 
                class="salary-icon">
            <span>{{ job.salary }}</span>
            <button (click)="withdrawJob(job.JobID)">Withdraw</button>
        </div>
    </div>
    }
    @else {
    <div class="results">
        You haven't applied to any jobs yet. Start exploring opportunities 
        and apply to jobs that match your skills and interests.
    </div>
    }
</div>
