.job-list {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .job-item {
    margin: 20px 0;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .job-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .job-info h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }
  
  .job-info p {
    margin: 5px 0;
    color: #555;
  }
  
  .job-rate-inline img.peso-icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
  }
  
  .apply-button {
      background: #ffc324 !important;
  }
    
  .job-details-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    flex-wrap: wrap;
  }
  
  .job-location-inline,
  .job-date-inline,
  .job-rate-inline,
  .job-action-inline {
    display: flex;
    align-items: center;
  }
  
  .job-location-inline {
    flex: 1;
  }

  .job-date-inline {
    flex: 1;
  }
  
  .job-rate-inline {
    text-align: center;
  }
  
  .job-action-inline {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .job-location-inline mat-icon,
  .job-rate-inline mat-icon {
    margin-right: 8px;
  }
  
  .job-rate-inline span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .results {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
  }
  
  .job-dialog-header {
    text-align: center;
    padding: 20px;
    background-color: #ffc324;
    color: white;
    border-radius: 8px 8px 0 0;
  }
  
  .job-dialog-content {
    padding: 20px;
    background-color: #f3f3f3;
  }
  
  .job-detail {
    margin-bottom: 15px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .job-detail h3 {
    margin: 0;
    font-size: 16px;
    color: black;
    font-weight: 600;
  }
  
  .job-detail p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #333;
  }
  
  .job-dialog-actions {
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    background-color: #f3f3f3;
    border-radius: 0 0 8px 8px;
  }
  
  .confirm-button {
      background: #ffc324 !important;
  }
  
  mat-dialog-content {
    padding: 0 !important;
  }
  