<div class="job-list">
    @if (jobs.length) {
    <div class="job-item" *ngFor="let job of jobs"
        [ngClass]="{'highlighted': job.highlighted}">
        @if (job.date >= formattedDate) {
        <div class="job-info">
            <h2>{{ job.title }}</h2>
            <p>{{ job.company }}</p>
        </div>
            <div class="job-location">
                <img src="{{ job.icon }}" alt="Location Icon">
                <span>{{ job.location }}</span>
            </div>
        <div class="job-action">
            <img src="{{ job.salaryIcon }}" alt="Salary Icon" 
                class="salary-icon">
            <span>{{ job.salary }}</span>
            <button mat-button color="warn" 
                (click)="confirmWithdrawJob(job.JobID)">Withdraw
            </button>
        </div>
        }
        @else {
        <div class="job-info">
            <p class="expired-message">*This job post has expired on PUPConnect</p>
            <h2>{{ job.title }}</h2>
            <p>{{ job.company }}</p>
        </div>
            <div class="job-location">
                <img src="{{ job.icon }}" alt="Location Icon">
                <span>{{ job.location }}</span>
            </div>
        <div class="job-action">
            <img src="{{ job.salaryIcon }}" alt="Salary Icon" 
                class="salary-icon">
            <span>{{ job.salary }}</span>
        </div>
        }
    </div>
    }
    @else {
    <div class="results">
        You haven't applied to any jobs yet. Start exploring opportunities 
        and apply to jobs that match your skills and interests.
    </div>
    }
</div>
