.client-page-container {
    height: 100vh;
    width: 100%;
    background: url('/assets/Job_Page/Background_JobPage.png') 
        no-repeat center center / cover;
}

.client-header-container {
    margin-left: 300px;
}

.job-post-form-container {
    margin-left: 460px;
}

.job-post-form-container {
    width: 100%;
    max-width: 800px;
}

.job-post-feed-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px
}

app-job-post-form, app-job-post-feed {
    width: 100%;
    margin-bottom: 20px;
}