<div class="client-page-container">
    <app-sidebar></app-sidebar>
    <div class="client-header-container">
        <app-header-dashboard>
            <h1>RECRUITMENT</h1>
            <span welcome>Hi {{ userName }}</span>
            <img profile_picture 
                [src]="userPhoto" 
                alt="User Image">
        </app-header-dashboard>
    </div>
    <div class="job-post-form-container">
        <app-job-post-form></app-job-post-form>
        <div class="job-post-feed-container">
            <app-job-post-feed></app-job-post-feed>
        </div>
    </div> 
</div>