<div class="applicants-sidebar">
  <h3>Applicants for {{ jobTitle }}:</h3>
  <div *ngIf="groupedApplicants && groupedApplicants.length > 0; 
        else noApplicantsTemplate">
      <div *ngFor="let group of groupedApplicants" class="applicant-group">
          <h4><strong>Application Date: </strong>{{ group.date }}</h4>
          <div *ngFor="let applicant of group.applicants" class="applicant">
              <h5>{{ applicant.name }}</h5>
              <a href="mailto:{{ applicant.email }}">
                <strong>Email Applicant</strong></a>
              <button (click)="viewProfile(applicant)">View Profile</button>
          </div>
      </div>
  </div>
  <ng-template #noApplicantsTemplate>
      <p>No applicants.</p>
  </ng-template>

  <app-applicant-profile-modal
  *ngIf="selectedApplicant"
  [applicant]="selectedApplicant"
  (closeModal)="closeProfileModal()">
  </app-applicant-profile-modal>
</div>
