.profile-description {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 1500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
  
.profile-description.full-width {
    max-width: 100% !important;
}

.profile-description h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.profile-description p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.profile-description ul {
    padding: 0;
}

.profile-description ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

.skills li {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 0.9rem;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .profile-description {
        padding: 10px;
    }
    .profile-description h2 {
        font-size: 1.2rem;
    }
    .profile-description p {
        font-size: 0.9rem;
    }
    .skills li {
        font-size: 0.8rem;
        padding: 5px;
    }
}
