<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="isSidebarOpened">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'full-width': !isSidebarOpened}">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="header-container">
          <h1>HISTORY</h1>
          <div class="user-info">
            <span welcome>Hi, {{ userName }}!</span>
            <img profile_picture [src]="userPhoto" alt="User Image">
          </div>
        </div>
    </mat-toolbar>
  <div class="search-container">
      <app-search-content></app-search-content>
  </div>  
  <div>
      <app-withdrawn-jobs-list></app-withdrawn-jobs-list>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>