<div class="job-list">
    @if (jobs.length) {
        @for (job of jobs; track $index) {
        <div class="job-item"
            [ngClass]="{'highlighted': job.UserID}">
            <div class="job-info">
                <h2>{{ job.Title }}</h2>
                <p>{{ job.Description }}</p>
            </div>
            <div class="job-location">
                <img src="assets/Job_Page/globe_icon.png" alt="Location Icon">
                <span>{{ job.Location }}</span>
            </div>
            <div class="job-action">
                <img src="assets/Job_Page/money_icon.png" alt="Salary Icon"
                    class="salary-icon">
                <span>{{ job.Rate }}</span>
                <button (click)="openJobPostDialog(job, $event.target)">
                    APPLY NOW!
                </button>
            </div>
        </div>
        }    
    }
    @else {
    <div class="results">No Jobs Available</div>
    }
</div>

<ng-template #jobDialogTemplate let-data>
    <h2 mat-dialog-title>JOB DETAILS</h2>
    <div mat-dialog-content>
      <h3>Job ID</h3>
      <p>{{ data.job.JobID }}</p>
      <h3>Client</h3>
      <p>{{ data.job.name }}</p>
      <h3>Job Title</h3>
      <p>{{ data.job.Title }}</p>
      <h3>Job Type</h3>
      <p>{{ data.job.JobType }}</p>
      <h3>Description</h3>
      <p>{{ data.job.Description }}</p>
      <h3>Location</h3>
      <p>{{ data.job.Location }}</p>
      <h3>Rate</h3>
      <p>{{ data.job.Rate }}</p>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial
        (click)="onApplyClick(data.job.JobID)">
        Confirm
      </button>
    </div>
</ng-template>