<div class="job-list">
    <div class="job-item" *ngFor="let job of jobs"
        [ngClass]="{'highlighted': job.UserID}">
        <div class="job-info">
            <h2>{{ job.Title }}</h2>
            <p>{{ job.Description }}</p>
        </div>
            <div class="job-location">
                <!-- <img src="{{ job.icon }}" alt="Location Icon"> -->
                <span>{{ job.Location }}</span>
            </div>
        <div class="job-action">
            <!-- <img src="{{ job.salaryIcon }}" alt="Salary Icon" 
                class="salary-icon"> -->
            <span>{{ job.Rate }}</span>
            <button (click)="onApplyClick($event)">APPLY NOW!</button>
        </div>
    </div>
</div>