<div class="parent-container">
    <div class="first-col">
        <header class="header">
            <div class="group">
              <div class="logo">
                <img src="/assets/LogoLanding.png" alt="PUPconnect Logo">
              </div>
              <div class="login-link">
                <span class="wew">Already have an account?</span> 
                <a href="#" routerLink="/login">Log in</a>
              </div>
            </div>
          
          </header>
          <div class="login">
            <div class="title">
              <p>Create your account</p>
          </div>
          <app-signupform></app-signupform>
          </div>

    </div>
</div>