<div class="head-profile">
    <div class="background-image">
      <img src="/assets/Cover.png" alt="Background">
    </div>
    <div class="profile-content">
      <div class="profile-picture">
        <img src="/assets/Profile_Picture.png" alt="Profile Picture">
      </div>
      <div class="profile-details">
        <h1>{{ dataFromParent.data?.name }}</h1>
        <p>{{ dataFromParent.data?.location }}</p>
      </div>
      <button class="edit-profile-button">EDIT PROFILE</button>
    </div>
</div>
  