<div class="sidebar">
  <div class="logo">
    <img src="assets/Job_Page/logo_for_jobpage.png" alt="PUPconnect Logo">
  </div>
  <div class="sidebar-content">
    <nav>
      <ul>
        <li routerLink="/profile" routerLinkActive="active" class="profile">
          <img src="assets/Job_Page/Profile_IO.png" alt="Profile Icon">
          <a><span>PROFILE</span></a>
        </li>
        <li (click)="toggleDropdown()" class="find-job" [class.jobs-active]="isToggle">
          <img src="assets/Job_Page/Jobs_IO.png" alt="Jobs Icon">
          <span>FIND JOB</span>
          <img 
            src="assets/Job_Page/dropdown_icon.png"
            class="dropdown-icon"
            alt="Dropdown Icon">
        </li>
        <div [class.active]="isToggle" class="dropdown-menu">
          <li routerLink="/dashboard" routerLinkActive="active">
            <span>JOB FEED</span>
          </li>
          <li routerLink="/applied" routerLinkActive="active">
            <span>APPLIED</span>
          </li>
        </div>
        <li routerLink="/client-page" routerLinkActive="active" class="client">
          <img src="assets/Job_Page/Client_IO.png" alt="Client Icon">
          <a><span>POST JOB</span></a>
        </li>
        <li routerLink="/history" routerLinkActive="active" class="history">
          <img src="assets/Job_Page/History_IO.png" alt="History Icon">
          <a><span>HISTORY</span></a>
        </li>
      </ul>
    </nav>
  </div>
  <nav class="logout-nav">
    <ul>
      <li (click)="logout()" class="logout">
        <img src="assets/Job_Page/Logout_IO.png" alt="Logout Icon">
        <a><span>LOGOUT</span></a>
      </li>
    </ul>
  </nav>
</div>
