<mat-toolbar class="logo">
  <img src="assets/Job_Page/logo_for_jobpage.png" alt="PUPconnect Logo" 
      class="logo-img">
</mat-toolbar>
<mat-nav-list>
  <mat-list-item routerLink="/profile" routerLinkActive="active" 
      class="profile">
    <mat-icon matListIcon>person</mat-icon>
    <span matLine>PROFILE</span>
  </mat-list-item>
  <mat-list-item (click)="toggleDropdown()" class="find-job" 
    [class.jobs-active]="isToggle">
    <mat-icon matListIcon>work</mat-icon>
    <span matLine>FIND JOB</span>
  </mat-list-item>
  <div [class.active]="isToggle" class="dropdown-menu">
    <mat-list-item routerLink="/dashboard" routerLinkActive="active">
      <span matLine>JOB FEED</span>
    </mat-list-item>
    <mat-list-item routerLink="/applied" routerLinkActive="active">
      <span matLine>APPLIED</span>
    </mat-list-item>
    <mat-list-item routerLink="/history" routerLinkActive="active">
      <span matLine>EXPIRED</span>
    </mat-list-item>
  </div>
  <mat-list-item routerLink="/client-page" routerLinkActive="active" 
    class="client">
    <mat-icon matListIcon>post_add</mat-icon>
    <span matLine>POST JOB</span>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list class="logout-nav">
  <mat-list-item (click)="logout()" class="logout">
    <mat-icon matListIcon>exit_to_app</mat-icon>
    <span matLine>LOGOUT</span>
  </mat-list-item>
</mat-nav-list>
