:host {
    display: block;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-left: 40px;
    overflow-y: scroll;
    max-height: 320px;
  }
  
  .job-post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .job-post h3 {
    margin: 0 0 10px;
  }
  
  .job-post p {
    margin: 5px 0;
  }
  
  button {
    background: #f04e30;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button:hover {
    background: #d03e27;
  }

  a {
    padding: 5px 10px;
    color: black;
    background-color: #ffc300 ;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  a:hover {
    background-color: #f04e30;
    color: white;
  }
