<div class="job-list">
  @for (job of jobs; track $index; ) {
    <mat-card class="job-post">
      <div class="color-indicator"></div>
      <mat-card-header>
        <mat-card-subtitle>{{ job.Posted_Date | date: 'MMM d, y h:mma' }}</mat-card-subtitle>
        <mat-card-title>{{ job.Title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Description:</strong> {{ job.Description }}</p>
        <p><strong>Location:</strong> {{ job.Location }}</p>
        <p><strong>Job Type:</strong> {{ job.JobType }}</p>
        <p><strong>Salary:</strong> {{ job.Rate }}</p>
        <p><strong>End Date:</strong> {{ job.Date }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="viewApplicants(job)">View Applicants</button>
        <button mat-button (click)="openEditModal(job)">Edit</button>
        <button mat-button (click)="confirmDeleteJob(job.JobID)">Delete</button>
      </mat-card-actions>
    </mat-card>
  }
</div>

@if (selectedJob) {
  <app-edit-job-modal
    [job]="selectedJob"
    (close)="closeEditModal()"
    (save)="updateJob($event)">
  </app-edit-job-modal>
}