<form [formGroup]="loginForm" (ngSubmit)="onSubmit">
    <div class="login-form">
        <div class="input-group">
            <input type="email" 
            id="email" 
            formControlName="email" 
            placeholder="Email" 
            required>
            @if(emailControl.invalid && emailControl.touched) {
              @if(emailControl.errors?.['required']) {
                <div class="errMsg">Email is required</div>
              }
              @if(emailControl.errors?.['email']) {
                <div class="errMsg">Invalid email address</div>
              }
              @if(emailControl.errors?.['emailDomain']) {
                <div class="errMsg">
                    Email must end with &#64;iskolarngbayan.pup.edu.ph
                </div>
              }
            }
        </div>
        <div class="input-group">
            <input 
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password" 
            id="password" 
            name="password" 
            placeholder="Password" 
            required>
            <span class="password-toggle" (click)="togglePassword()">
              <i [class]="showPassword ? 'bx bx-show' : 'bx bx-hide'"></i>
            </span>
        </div>

        <div class="validator">
          @if(passwordControl.touched 
                && passwordControl.errors?.['required']) {
              <div class="errMsg" id="err">Password is required</div>
          }
        </div>
        <button type="submit" class="login-button" (click)="onSubmit()">
            LOG IN
        </button>
        <div>
          <a routerLink="/forgot-password" class="forgot-password">
            Forgot your password?
          </a>
        </div>
    </div>
</form>
