<div class="profile-page">
    <div class="sidebar-container">
      <app-sidebar></app-sidebar>
    </div>
    <div class="profile-content">
        <app-profile-header></app-profile-header>
        <div class="profile-main">
          @if (userDetails) {
            <app-head-profile [dataFromParent]="userDetails">
            </app-head-profile>
          }
          @if (userDetails) {
            <app-description [dataFromParent]="userDetails">
            </app-description>
          }
        </div>
    </div>
</div>
  
  