<div class="forgot-password-container">
    <div>
        <p>Reset Password</p>
    </div>
    <form class="forgot-password-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
          @if (email!.hasError('required')) {
          <mat-error>Email is required</mat-error>
          }
          @if (email!.hasError('email') || (email!.errors?.['emailDomain'])) {
          <mat-error>Invalid email format</mat-error>
          }
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="isButtonDisabled">
            Send Code
        </button>
        <button mat-button type="button" routerLink="/login">Cancel</button>
        @if (isButtonDisabled) {
        <div class="code-error-message">
            Didn't receive the code? 
        </div>
        <div class="countdown">
            Please wait {{ countdown }}s seconds before requesting 
            another code.
        </div>
        }
        @if (!isButtonDisabled && !countdown && hasAttemptedToSend) {
        <div>You can resend the code now.</div>
        }
    </form>
</div>
  