body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(163, 67, 67);
    color: #333;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

.forgot-password-form, .password-change-form {
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: rgb(163, 67, 67); 
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #000000; 
}

.forgot-password-form h2, .password-change-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff; 
}

.forgot-password-form p, .password-change-form p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff; 
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.mat-form-field .mat-form-field-label {
    font-size: 14px;
    color: #fff;
}

.mat-form-field .mat-input-element {
    padding: 10px;
    color: #333; 
    background-color: #fff; 
}

button[type="submit"], .submit-btn {
    width: 100%;
    padding: 10px 0;
    background-color: rgb(255, 195, 0); 
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button[type="submit"]:hover, .submit-btn:hover {
    background-color: rgb(255, 255, 0);
    color: #000000; 
}

button[type="button"] {
    width: 100%;
    padding: 10px 0;
    color: #fff; 
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
}

button[type="button"]:hover {
    color: rgb(255, 195, 0); 
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    height: 23%;
    margin-bottom: 40px;   
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
} 

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(163, 67, 67); 
}
.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.otp-input:focus {
    border-color: rgb(255, 195, 0); 
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (max-width: 600px) {
    .forgot-password-form, .password-change-form {
        padding: 20px;
    }
}
