<div class="forgot-password-container">
    @if (isForgotPasswordForm) {
    <div class="forgot-password-form">
        <h2>Forgot Password</h2>
        <p>Enter your email to receive an OTP to reset your password.</p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Your e-mail address</mat-label>
                <input matInput formControlName="email" type="email">
                <mat-error *ngIf="email!.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="email!.hasError('email') || (email!.errors?.['emailDomain'])">Invalid email format</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="isButtonDisabled">Reset my Password</button>
            <button mat-button type="button" routerLink="/login">Cancel</button>
        </form>
    </div>
    }

    @if (isModalVisible) {
    <div class="modal">
        <div class="modal-content">
            <h2>Enter OTP</h2>
            <form class="otp-inputs" [formGroup]="otpForm">
                <input formControlName="otp1" type="number" class="otp-input" (keyup)="limitInputLength($event, 'otp2')" [ngClass]="{'invalid': otpForm.controls['otp1'].invalid && (otpForm.controls['otp1'].touched || otpForm.controls['otp1'].dirty)}">
                <input formControlName="otp2" type="number" class="otp-input" (keyup)="limitInputLength($event, 'otp3')" [ngClass]="{'invalid': otpForm.controls['otp2'].invalid && (otpForm.controls['otp2'].touched || otpForm.controls['otp2'].dirty)}">
                <input formControlName="otp3" type="number" class="otp-input" (keyup)="limitInputLength($event, 'otp4')" [ngClass]="{'invalid': otpForm.controls['otp3'].invalid && (otpForm.controls['otp3'].touched || otpForm.controls['otp3'].dirty)}">
                <input formControlName="otp4" type="number" class="otp-input" (keyup)="limitInputLength($event, 'otp5')" [ngClass]="{'invalid': otpForm.controls['otp4'].invalid && (otpForm.controls['otp4'].touched || otpForm.controls['otp4'].dirty)}">
                <input formControlName="otp5" type="number" class="otp-input" (keyup)="limitInputLength($event, 'otp6')" [ngClass]="{'invalid': otpForm.controls['otp5'].invalid && (otpForm.controls['otp5'].touched || otpForm.controls['otp5'].dirty)}">
                <input formControlName="otp6" type="number" class="otp-input" (keyup)="limitInputLength($event, 'null')" [ngClass]="{'invalid': otpForm.controls['otp6'].invalid && (otpForm.controls['otp6'].touched || otpForm.controls['otp6'].dirty)}">
            </form>
            <button type="submit" class="submit-btn" (click)="onOtpSubmit()">Submit</button>
        </div>
    </div>
    }

    @if (isResetPasswordModalVisible) {
    <form [formGroup]="newPasswordForm" (ngSubmit)="onChangePasswordSubmit()" class="password-change-form">
        <h2>Change Password</h2>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" readonly>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
            <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Confirm New Password</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
    }
</div>
