<div class="forgot-password-container">
    <div>
        <p>Reset Password</p>
    </div>
    <form 
        class="forgot-password-form" 
        [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
          @if (email!.hasError('required')) {
          <mat-error>Email is required</mat-error>
          }
          @if (email!.hasError('email') || (email!.errors?.['emailDomain'])) {
          <mat-error>Invalid email format</mat-error>
          }
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="isButtonDisabled">
            Send Code
        </button>
        <button mat-button type="button" routerLink="/login">Cancel</button>
        @if (isButtonDisabled) {
        <div class="code-error-message">
            Didn't receive the code? 
        </div>
        <div class="countdown">
            Please wait {{ countdown }}s seconds before requesting 
            another code.
        </div>
        }
        @if (!isButtonDisabled && !countdown && hasAttemptedToSend) {
        <div>You can resend the code now.</div>
        }
    </form>

    @if (isModalVisible) {
    <div class="modal">
        <div class="modal-content">
            <h2>Enter OTP</h2>
            <form 
                class="otp-inputs" 
                [formGroup]="otpForm">
                <input formControlName="otp1" type="number" class="otp-input" 
                    (keyup)="limitInputLength($event, 'otp2')"
                    [ngClass]="{'invalid': otpForm.controls['otp1'].invalid &&
                                (otpForm.controls['otp1'].touched || 
                                otpForm.controls['otp1'].dirty)}">

                <input formControlName="otp2" type="number" class="otp-input" 
                    (keyup)="limitInputLength($event, 'otp3')"
                    [ngClass]="{'invalid': otpForm.controls['otp2'].invalid &&
                                 (otpForm.controls['otp2'].touched || 
                                 otpForm.controls['otp2'].dirty)}">

                <input formControlName="otp3" type="number" class="otp-input" 
                    (keyup)="limitInputLength($event, 'otp4')"
                    [ngClass]="{'invalid': otpForm.controls['otp3'].invalid &&
                                 (otpForm.controls['otp3'].touched || 
                                 otpForm.controls['otp3'].dirty)}">

                <input formControlName="otp4" type="number" class="otp-input" 
                    (keyup)="limitInputLength($event, 'otp5')"
                    [ngClass]="{'invalid': otpForm.controls['otp4'].invalid &&
                                 (otpForm.controls['otp4'].touched || 
                                 otpForm.controls['otp4'].dirty)}">

                <input formControlName="otp5" type="number" class="otp-input" 
                    (keyup)="limitInputLength($event, 'otp6')"
                    [ngClass]="{'invalid': otpForm.controls['otp5'].invalid &&
                                 (otpForm.controls['otp5'].touched || 
                                 otpForm.controls['otp5'].dirty)}">

                <input formControlName="otp6" type="number" class="otp-input" 
                    (keyup)="limitInputLength($event, 'null')"
                    [ngClass]="{'invalid': otpForm.controls['otp6'].invalid &&
                                 (otpForm.controls['otp6'].touched || 
                                 otpForm.controls['otp6'].dirty)}">
            </form>
            <button type="submit" class="submit-btn" (click)="onOtpSubmit()">
                Submit
            </button>
        </div>
    </div>
    }
</div>