.custom-toolbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
  
.logo {
    height: 40px;
}

.spacer {
    flex: 1 1 auto;
}

.nav-list a {
    margin-left: 20px;
}

.active-link {
    color: #d80000;
    border-bottom: 2px solid #d80000;
}
  