<mat-toolbar class="custom-toolbar">
    <a routerLink="/landing" (click)="setActiveLink('home')">
        <img src="assets/LogoLanding.png" alt="Logo" class="logo">
    </a>
    <span class="spacer"></span>
    <span class="nav-list">
        <a mat-button [ngClass]="{
        'active-link': (activeLinkService.activeLink$ | async) === 'about' 
     }" 
       (click)="setActiveLink('about')">
            About Us
        </a>
        <a mat-button [ngClass]="{
        'active-link': (activeLinkService.activeLink$ | async) === 'contact' 
     }" 
       (click)="setActiveLink('contact')">
            Contact Us
        </a>
    </span>
</mat-toolbar>
  