* {
    margin: 0;
}

html, body {
    font-family: 'Poppins';
    overflow: hidden;
}

.input-group input::placeholder {
    font-family: 'Poppins';
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
