body {
    margin: 0;
    padding: 0;
}

.page-container {
    background-image: url('/assets/landing-page-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    overflow: hidden;
}

.background-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    color: white;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    background-color: transparent;
    font-size: 1.5rem;
}

.content span {
    color: #ffc107;
}

.login-btn {
    background-color: white;
    color: black;
}

.button-container .signup-btn {
    background-color: #ffc107;
    color: white;
}

::ng-deep mat-card {
    border: none !important;
    box-shadow: none !important;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    margin: 0 10px;
    font-size: 1.2rem;
}

.fade-in {
    animation: professionalFadeIn 1.5s ease-in-out forwards;
}

@keyframes professionalFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .page-container {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .content {
        font-size: 1.2rem;
    }
    
    .button-container button {
        font-size: 1rem;
        margin: 10px 5px;
    }
}

@media (min-width: 600px) and (max-width: 992px) {
    .page-container {
        padding-top: 120px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .content {
        font-size: 1.3rem;
    }

    .button-container button {
        font-size: 1.1rem;
        margin: 10px 5px;
    }
}

@media (min-width: 992px) {
    .page-container {
        padding-top: 150px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .content {
        font-size: 1.5rem;
    }
    
    .button-container button {
        font-size: 1.2rem;
        margin: 0 10px;
    }
}
