<div class="history-content">
    @if (withdrawnJobs.length > 0) {
      @for (job of withdrawnJobs; track $index) {
        <div class="job-item">
          <div class="job-info">
            <h2>{{ job.Title }}</h2>
            <p>{{ job.Description }}</p>
          </div>
          <div class="job-location">
            <img src="assets/Job_Page/globe_icon.png" alt="Location Icon">
            <span>{{ job.Location }}</span>
          </div>
          <div class="job-action">
            <img src="assets/Job_Page/money_icon.png" 
              alt="Salary Icon" class="salary-icon">
            <span>{{ job.Rate }}</span>
            <span>{{ job.WithdrawnDate }}</span>
          </div>
        </div>
      }
    } @else {
      <p>No History Available</p>
    }
</div>
  