<div class="history-content">
  @if (withdrawnJobs.length) {
    @for (job of withdrawnJobs; track job.id) {
      <mat-card class="job-item" [ngClass]="{ highlighted: job.UserID }">
        <mat-card-content>
          <div class="job-info">
            <h2 mat-line>{{ job.Title }}</h2>
            <p mat-line>{{ job.Description }}</p>
          </div>
          <div class="job-details-inline">
            <div class="job-location-inline">
              <mat-icon>location_on</mat-icon>
              <span>{{ job.Location }}</span>
            </div>
            <div class="job-date-inline">
              <mat-icon>event</mat-icon>
              <span>{{ job.EndDate }}</span>
            </div>
            <div class="job-rate-inline">
              <mat-icon>monetization_on</mat-icon>
              <span>{{ job.Rate }}</span>
            </div>
            <div class="job-action-inline">
              <h3>no longer accepts applicant</h3>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    }
  } @else {
    <div class="results">No History Available</div>
  }
</div>
  